<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome!</title>
</head>

<body>
    <h1>Welcome to the Meeting Planner!</h1>
    <p>
        This is a demo application for the course <em>
            Django: Getting Started
        </em> on <a href="https://www.pluralsight.com">Pluralsight</a>
    </p>

    <h2>Meetings</h2>
    <ul>
        {% for meeting in meetings %}
            <li>
                <a href="{% url 'detail' meeting.id %}">
                    {{ meeting.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
</body>

</html>